@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';


/* From dashboard page */
html {
  font-family: 'Roboto', 'sans-serif';
}

body{
	background-color: #639DDB;
}

.fc-past {
    background-color: lightgray;
}

.fc-body{
    font-weight: bold;
}

.fc-button{
    background-color: #268fff;
}

.fc-button-primary:not(:disabled).fc-button-active:focus{
	box-shadow: 0 0 0 0;
}

.fc-button-primary:not(:disabled).fc-button-active {
	background-color: gray;
}

.fc-button-primary:not(:disabled):focus{
	box-shadow: 0 0 0 0;
}

.fc-button-primary:disabled{
	background-color: gray;
	border: 1px solid #2C3E50;
	opacity: 1;
}

.fc-event-container{
    font-weight: normal;
}

#calendarSelector{
    font-size: 24px;
    text-align: center;
}

#groupCalendar{
    border-right: 1px solid gray;
}

.calendarChoice{
    margin: 0 auto;
    display: inline;
    border-width: 1px 0px 1px 1px;
    border-color: gray;
    border-style: solid;
    padding: 10px 20px 10px 20px;
}

#eventListContainer{
    width: 19%;
    height: 100%;
    float: left;
    margin-top: 45px;
}

h2{
    text-align: center;
}

ul{
    list-style: none;
    padding-left: 0;
}​

#eventListContainer h2{
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 20px;
	margin-bottom: 0px;
}

#eventListContainer h3{
  font-size: 16px;
  padding-left: 3px;
}

#visualCalendarContainer{
    width:79%;
    float: left;
    padding: .5%;
}

.test{
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    margin-top: 20px;
    border-color: #d8d8d8;
    background-color: white;
}

.activeTab{
	background-color: lightgray;
}

.eventBox{
	border-left: 1px solid black;
  border-right: 1px solid black;
	margin-bottom: 15px;
  border-bottom: 1px solid black;
  border-radius: 5px;
}

.eventBoxHeaders{
	background-color: #268fff;
	color: white;
  border-radius: 5px 5px 0px 0px;
}

.eventBoxNameDate{
	border-bottom: 1px solid black;
	font-size: 14px;
	margin: 0px;

}

.eventBox p{
	font-size: 15px;
	margin: 0;
  padding-left: 5px;
}



/* From createEvent page  */
.creationContainer{
    text-align: center;
    display: inline-block;
    width: 100%;
}

.creationContainer h2{
    margin-bottom: 0px;
    font-size: 20px;
}

.container{
    display: inline-block;
}

.container .selected-date{
    display: inline-block;
    text-align: center;
}

.popOut{
    display: inline-block;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 20px;
    padding-top: 0px;
    background-color: white;
    margin-top: 5px;
}

.popOut button{
    margin-top: 5px;
    background-color: #268fff;
    color: white;
    border: none;
    border-radius: 3px;
    width: 50%;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}

.popOut button:hover{
    background-color: #2867cc;
}